# Logs
*.log
# Dependency directories
node_modules/
node-v16.15.1-win-x64/
dist
# Cache file creation bug
.yarn/cache/*
.yarn/sdks/eslint/*
.yarn/sdks/prettier/*
.yarn/install-state.gz
.yarn/build-state.url
.yarn/releases.gz

### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache

# Config file (credentials)
options.ts
package-lock.json
#.env

# Other
doc.json
